{% extends "base.html" %}
{% block maincontent %}
<body>
<div class='card mt-4'>
    <h1>Patients List</h1>
    <div class='card-body d-flex justify-content-center'> <!-- Adding flexbox classes to center content -->
        <div class="card-body">
            {% if users %}
            <div class="table-responsive">
                <table id="example" class="display table dataTable table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>                            
                            {% comment %} <th>Price</th>
                            <th>Quantity Available</th> {% endcomment %}
    
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td> {{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            {% comment %} <td>{{ medication.quantity_available }}</td> {% endcomment %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>No Users found.</p>
            {% endif %} 
        </div>
    </div>
</div>
</body>
{% endblock maincontent %}
